body {
  margin-top: 100px !important;
  padding: 25px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * General Styles
 */
.question-container {
  min-height: 150px;
  padding-bottom: 50px;
  position: relative;
  max-width: 544px;
  opacity: 0.2;
  -webkit-transition: opacity 250ms;
     -moz-transition: opacity 250ms;
          transition: opacity 250ms;
}

.question-container.active {
  opacity: 1;
}


/**
 * Welcome message section
 */


.welcome-message--body, .welcome-message--footer {
  text-align: center;
}

/**
 * Star rating system section
 */
.rating-container {
  position: relative;
  margin: auto;
  height: 200px;
}

.rating-header {
  margin: auto;
}

.rate {
  float: left;
  height: 30px;
  padding: 0 10px;
}

.rate > input {
  display: none;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

/**
 * Dropdown section
 */
.dropdown-question-container {
  margin:auto;
}

.dropdown-question-header {
  margin:auto;
}

.mui-dropdown {
  display:block;
}

.mui-dropdown, .mui-dropdown.mui-btn, .mui-dropdown.mui-dropdown__menu {
  margin:auto;
  width:150px;
}

.mui-dropdown__menu > li > a {
  padding:7px 20px;
}

/**
 * Input section
 */
.text-question-container {
  max-width: 544px;
  margin: auto;
}
.text-question-container > .question-footer {
  min-height: 50px;
}


/**
 * Multiple Choice Section
 */

.multiple-choice-list {
  width: 100%;
  list-style: none;
  display: inline-block;
  padding-left: 0;
}
.multiple-choice-list > .choice > .multi-choice-answer-button {
  min-width: 100px;
}
.button-checkbox {
  height: 36px;
  display: inline-block;
}
.button-checkbox-text {
  height: 36px;
  display: inline-block;
}

/**
 * Submit Section
 */
.submit-section {
  min-height: 300px;
  position: relative;
  text-align: center;
}

.submit-section > .submit-section--body {
  text-align: center;
}

.submit-section > .submit-section--footer {
  text-align: center;
}

/**
 * Progress bar
 */

footer {
  position: fixed;
  bottom: 0;
  height: 25px;
  background: transparent;
}

 .progress {
   position: fixed;
   bottom: 0;
   height: 7px;
   display: block;
   width: 100%;
   background-color: rgba(33, 150, 244, 0.33);
   border-radius: 2px;
   background-clip: padding-box;
   margin: 0 -25px -2px;
   overflow: hidden; }

   .progress .determinate {
     position: absolute;
     background-color: inherit;
     top: 0;
     bottom: 0;
     background-color: #2196F3;
     transition: width .3s linear; }


 /**
  * Yes/No question section
  */
button {
  align-items: flex-start;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 18px;
  font-size: 14px;
  line-height: 1.57143;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c4w-btn-group {
  color: #2196F3;
  display: flex;
  display: inline-block;
}

.c4w-btn-group > .btn {
  background: transparent;
  position: relative;
  float: left;
}

.c4w-btn-group > .btn > .fa-times {
  color: #d44950;
}

.c4w-btn-group > .btn > .fa-check {
  color: #21b384;
}

.c4w-btn-group > .btn.btn-default {
  text-align: center;
  padding: 18px;
  white-space: normal;
  border-color: #E2E6E6;
  margin-right: 10px;
  min-width: 120px;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px 0;
  transition: box-shadow .25s border-color .5s background-color .5s;
}

.c4w-btn-group > .btn.btn-default:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 3px 0;
  background-color: rgb(242, 249, 253);
}

.c4w-btn-group > .btn.btn-default:active,
.c4w-btn-group > .btn.btn-default:focus {
  border-color: #2196F3;
  background-color: rgb(242, 249, 253);
  outline: 0;
}

/**
 * Form section
 */
.form-container {
  max-width: 970px;
  list-style: none;
}

.form-container > li > .mui-textfield {
  float: left;
  display: inline-block;
  width: 45%;
  margin-right: 10px;
}

.form-inputs-list {
  list-style: none;
}

.radio {
  list-style: none;
  min-height: 58px;
}

.radio > li {
  display: inline-block;
}

.mui-textfield > .dob--month-input,
.mui-textfield > .dob--day-input,
.mui-textfield > .dob--year-input {
  width: 27%;
  margin: inherit 2px;
  display: inline-block;
}
