body {
  margin-top: 100px;
  padding: 25px;
}

/**
 * General Styles
 */
.question-container {
  margin-bottom: 70px;
  min-height: 300px;
  position: relative;
  max-width: 544px;
  opacity: 0.3;
  -webkit-transition: opacity 250ms;
     -moz-transition: opacity 250ms;
          transition: opacity 250ms;
}

.question-container.active {
  opacity: 1;
}

.question-footer {
  position: absolute;
  bottom: 0;
  width: 93%;
}

/**
 * Welcome message section
 */

.welcome-message {

}

.welcome-message--body, .welcome-message--footer {
  text-align: center;
}

.mui-btn {

}

.mui-btn.mui-btn--success {

}

.mui-btn--success {

}



/**
 * Star rating system section
 */
.rating-container {
  position: relative;
  margin: auto;
  height: 200px;
}

.rating-header {
  text-align:center;
  margin:auto;
}

.rate {
  width: 150px;
  margin: auto;
  height: 30px;
  padding: 0 10px;
}

.rate > input {
  display: none;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

/**
 * Dropdown section
 */
.dropdown-question-container {
  margin:auto;
}

.dropdown-question-header {
  text-align:center;
  margin:auto;
}

.mui-dropdown {
  display:block;
}

.mui-dropdown, .mui-dropdown.mui-btn, .mui-dropdown.mui-dropdown__menu {
  margin:auto;
  width:150px;
}

.mui-dropdown__menu > li > a {
  padding:7px 20px;
}

/**
 * Input section
 */
.text-question-container {
  max-width: 544px;
  margin:auto;
}
.question-container > .mui-textfield {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 30%;
  width: 98%;
  margin: -15% 0 0 -25%;
}


/**
 * Multiple Choice Section
 */

.multiple-choice-list {
  list-style: none;
}
.button-checkbox {
  height: 36px;
  width: 36px;
  display: inline-block;
}
.button-checkbox-text {
  height: 36px;
  display: inline-block;
}

/**
 * Submit Section
 */
.submit-section {
  min-height: 300px;
  position: relative;
  text-align: center;
}

.submit-section > .submit-section--body {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 30%;
  width: 98%;
  margin: -15% 0 0 -25%;
}

.submit-section > .submit-section--footer {
  position: absolute;
  bottom: 0;
  width: 93%;
  text-align: center;
}

/**
 * Progress bar
 */

 .progress {
   position: fixed;
   bottom: 0;
   height: 4px;
   display: block;
   width: 100%;
   background-color: rgba(#2196f4, 0.5);
   border-radius: 2px;
   background-clip: padding-box;
   margin: 0 -25px -2px;
   overflow: hidden; }

   .progress .determinate {
     position: absolute;
     background-color: inherit;
     top: 0;
     bottom: 0;
     background-color: #2196F3;
     transition: width .3s linear; }
