body {
  padding: 25px;
}

/**
 * General Styles
 */
.question-container {
  min-height: 300px;
  position: relative;
}

.question-footer {
  position: absolute;
  bottom: 0;
  width: 93%;
}

/**
 * Star rating system section
 */
.rating-container {
  position: relative;
  margin: auto;
  height:200px;
}

.rating-header {
  text-align:center;
  margin:auto;
}

.rate {
  width:150px;
  margin: auto;
  height: 30px;
  padding: 0 10px;
}

.rate > input {
  display: none;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

/**
 * Dropdown section
 */
.dropdown-question-container {
  margin:auto;
}

.dropdown-question-header {
  text-align:center;
  margin:auto;
}

.mui-dropdown {
  display:block;
}

.mui-dropdown, .mui-dropdown.mui-btn, .mui-dropdown.mui-dropdown__menu {
  margin:auto;
  width:150px;
}

.mui-dropdown__menu > li > a {
  padding:7px 20px;
}

/**
 * Input section
 */
.text-question-container {
  max-width: 544px;
  margin:auto;
}
.question-container > .mui-textfield {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 30%;
  width: 98%;
  margin: -15% 0 0 -25%;
}

.mui-textfield {

}

/**
 * Multiple Choice Section
 */

.multiple-choice-list {
  list-style: none;
}
.button-checkbox {
  height: 36px;
  width: 36px;
  display: inline-block;
}
.button-checkbox-text {
  height: 36px;
  display: inline-block;
}
